.header{
    width: 100%;
    background: #1E3A8A;   /* Dark blue */
    color: white;
    padding: 18px 30px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 1px;
}