.sidebar{
    width:220px;
    height:100vh;
    background:#1E3A8A;
    color:white;
    padding:20px;
    display:flex;
    flex-direction:column;
}

.sidebar-title{
    margin-bottom:30px;
    font-size:22px;
    font-weight:bold;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.menu-item{
    padding:12px 15px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

.menu-item:hover{
    background:#2563EB;
}